{% extends "base.html" %}
{% load addcss %}

{% block head %}
    <script type="text/babel">
        document.getElementById("submit").onclick = function(e) {
            let username = document.getElementById("username").value;
            let password = document.getElementById("password").value;
            console.log('grant_type=password&username='
                   + username + '&password='
                   + password
                   + '&client_id=K3mguv60CF2T8Oq7icUff2PQLLKjNDUrgvEUuQpx')
            fetch("/o/token/", {
                method: 'POST',
                headers: {'Content-type': 'application/x-www-form-urlencoded'},
                body: 'grant_type=password&username='
                       + username + '&password='
                       + password
                       + '&client_id=K3mguv60CF2T8Oq7icUff2PQLLKjNDUrgvEUuQpx'
            }).then(function(response) {
                console.log(response);
                if (response.ok) {
                    response.json().then(function(data) {
                        console.log(data);
                        localStorage.setItem("access_token", data["access_token"]);
                        setCookie("access_token", data["access_token"], {'domain': 'dd.com'});
                        setCookie("token_type", data["token_type"]);
                        console.log(getCookie("access_token"));
                    });
                } else {
                    alert("BAD");
                }
            })
        }
    </script>
{% endblock %}

{% block content %}

{% if form.errors %}
<div class="container alert alert-danger">
    <p>Your username and password didn't match. Please try again.</p>
</div>
{% endif %}

{% if next %}

<div class="container alert alert-danger">
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
</div>
{% endif %}


<div class="container">

    <form class="form-signin" method="post" action="{% url 'login' %}">
        <h2 class="form-signin-heading">Please sign in</h2>
        {% csrf_token %}
        {% add_args form.username class="form-control" placeholder="Username" id="username"%}
        {% add_args form.password class="form-control" placeholder="Password" id="password"%}

        <input type="submit" id="submit" class="btn btn-lg btn-primary btn-block" value="Sign in" />
        <input type="hidden" name="next" value="{{ next }}" />
    </form>

</div>

{% endblock %}
